flows.json
[
    {
        "id": "48b4356fe2e4f9db",
        "type": "tab",
        "label": "Event API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4bdffad5d958d50f",
        "type": "tab",
        "label": "Event Publisher",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fe87260a2a0e6208",
        "type": "tab",
        "label": "Event Client ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb57a429bedabd77",
        "type": "tab",
        "label": "publish client",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "91f91a20edc0ca3f",
        "type": "tab",
        "label": "websockets client ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c9fafa.7dd6a5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "demo.mqtttest.com",
        "port": "8883",
        "tls": "2d748829.2503d8",
        "clientid": "$(CLIENTID)",
        "autoConnect": true,
        "usetls": true,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "demo/security/clientstate/connected",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "$(CLIENTID)",
        "birthMsg": {},
        "closeTopic": "demo/security/clientstate/closed",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "$(CLIENTID)",
        "closeMsg": {},
        "willTopic": "demo/security/clientstate/lastwill",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "$(CLIENTID)",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2d748829.2503d8",
        "type": "tls-config",
        "name": "demo.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo.mqtttest.com",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "cb2f7c9a2ceaaf2c",
        "type": "ui_tab",
        "name": "Latency",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "54f7ecc644f21e27",
        "type": "ui_group",
        "name": "Latency Results",
        "tab": "cb2f7c9a2ceaaf2c",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "a5ecdab7.7197d8",
        "type": "ui_group",
        "name": "Odds Card",
        "tab": "16e47346.ac956d",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "16e47346.ac956d",
        "type": "ui_tab",
        "name": "Real Time Event API",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cbee2f0fcd121e2d",
        "type": "websocket-listener",
        "path": "/ws",
        "wholemsg": "false"
    },
    {
        "id": "eb58dbee76747e0d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5914d7abbf8a72fb",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ade16b1ef95b9168",
        "type": "ui_group",
        "name": "API Client ",
        "tab": "5914d7abbf8a72fb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c0d8752cab84aea3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ce4ae89e62a543ba",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "16b957b7349f2c6f",
        "type": "ui_group",
        "name": "Publish Client ",
        "tab": "ce4ae89e62a543ba",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b803d1536177ccc3",
        "type": "websocket-client",
        "path": "ws://127.0.0.1:1880/ws",
        "tls": "",
        "wholemsg": "false",
        "hb": "30"
    },
    {
        "id": "b9d7a5a759ecc028",
        "type": "mqtt-broker",
        "name": "",
        "broker": "nats.edge-cloud.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a319270fd872e556",
        "type": "mqtt-broker",
        "name": "",
        "broker": "97.107.140.214",
        "port": "8883",
        "tls": "5820695c38c1949d",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c61391b55213e115",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.104.125.99",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5820695c38c1949d",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "nats.edge-cloud.io",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "35234d7f85e97e65",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7fd7ee0be984bd15",
        "type": "http in",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "url": "/api",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 40,
        "wires": [
            [
                "77b829269cfc5e7a"
            ]
        ]
    },
    {
        "id": "067a9ae216cf5cb1",
        "type": "http response",
        "z": "48b4356fe2e4f9db",
        "name": "Return Retained message on {sku} topic to API consumer",
        "statusCode": "",
        "headers": {},
        "x": 250,
        "y": 320,
        "wires": []
    },
    {
        "id": "70f06812bfa289ce",
        "type": "websocket out",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "server": "cbee2f0fcd121e2d",
        "client": "",
        "x": 400,
        "y": 540,
        "wires": []
    },
    {
        "id": "63d1fdb5efef3abd",
        "type": "debug",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "384b89c6e5f8a3eb",
        "type": "mqtt in",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "topic": "demo/api/stream/#",
        "qos": "2",
        "datatype": "json",
        "broker": "b9d7a5a759ecc028",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 500,
        "wires": [
            [
                "e4ef548d6b8d59bf",
                "82ac385f12aec07a"
            ]
        ]
    },
    {
        "id": "683335b90068e1e5",
        "type": "debug",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 600,
        "wires": []
    },
    {
        "id": "71fc67cc1d2c1698",
        "type": "file",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "683335b90068e1e5"
            ]
        ]
    },
    {
        "id": "e4ef548d6b8d59bf",
        "type": "template",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "field": "filename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/data/msg/{{payload.key}}",
        "output": "str",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "71fc67cc1d2c1698"
            ]
        ]
    },
    {
        "id": "ae2a806db270ac1b",
        "type": "file in",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "aec7abb9cc02c7ac",
                "cb3e72f4d24db3dd"
            ]
        ]
    },
    {
        "id": "f02b4941ee65e3e1",
        "type": "template",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "field": "filename",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/data/msg/{{payload.key}}",
        "output": "str",
        "x": 80,
        "y": 120,
        "wires": [
            [
                "6839a47b1c370f7a"
            ]
        ]
    },
    {
        "id": "aec7abb9cc02c7ac",
        "type": "debug",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "6839a47b1c370f7a",
        "type": "exec",
        "z": "48b4356fe2e4f9db",
        "command": "ls",
        "addpay": "filename",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 70,
        "y": 160,
        "wires": [
            [
                "ae2a806db270ac1b"
            ],
            [
                "04c99f965d0920c6"
            ],
            []
        ]
    },
    {
        "id": "04c99f965d0920c6",
        "type": "change",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.api.response",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload.object",
                "pt": "msg",
                "to": "no key found ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 80,
        "y": 220,
        "wires": [
            [
                "067a9ae216cf5cb1"
            ]
        ]
    },
    {
        "id": "4201c19b11abba31",
        "type": "change",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.api.response",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload.api.request",
                "pt": "msg",
                "to": "api.request",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "067a9ae216cf5cb1"
            ]
        ]
    },
    {
        "id": "cb3e72f4d24db3dd",
        "type": "json",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "4201c19b11abba31",
                "63d1fdb5efef3abd"
            ]
        ]
    },
    {
        "id": "77b829269cfc5e7a",
        "type": "change",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "api.request",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "f02b4941ee65e3e1"
            ]
        ]
    },
    {
        "id": "82ac385f12aec07a",
        "type": "change",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.ws.sent",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 500,
        "wires": [
            [
                "70f06812bfa289ce"
            ]
        ]
    },
    {
        "id": "5d02cd741e6b0fd7",
        "type": "http in",
        "z": "4bdffad5d958d50f",
        "name": "",
        "url": "/publish",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 60,
        "wires": [
            [
                "1c812942b8d87c64",
                "2b62d5fc96f416c8"
            ]
        ]
    },
    {
        "id": "8a3182a40a08e3e1",
        "type": "mqtt out",
        "z": "4bdffad5d958d50f",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b9d7a5a759ecc028",
        "x": 330,
        "y": 340,
        "wires": []
    },
    {
        "id": "5eaf02a2a0dae3a4",
        "type": "debug",
        "z": "4bdffad5d958d50f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "1c812942b8d87c64",
        "type": "debug",
        "z": "4bdffad5d958d50f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "18870580aeb45b99",
        "type": "template",
        "z": "4bdffad5d958d50f",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "demo/api/stream/{{payload.key}}",
        "output": "str",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "5eaf02a2a0dae3a4",
                "385f60451b4e975f"
            ]
        ]
    },
    {
        "id": "2b62d5fc96f416c8",
        "type": "change",
        "z": "4bdffad5d958d50f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.publish.receive",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "18870580aeb45b99"
            ]
        ]
    },
    {
        "id": "385f60451b4e975f",
        "type": "change",
        "z": "4bdffad5d958d50f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.publish.complete",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "8a3182a40a08e3e1"
            ]
        ]
    },
    {
        "id": "f394b63085388308",
        "type": "inject",
        "z": "4bdffad5d958d50f",
        "name": "",
        "props": [
            {
                "p": "payload.key",
                "v": "testkey",
                "vt": "str"
            },
            {
                "p": "payload.object",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": ".1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 80,
        "y": 60,
        "wires": [
            [
                "2b62d5fc96f416c8"
            ]
        ]
    },
    {
        "id": "29ce28610c9e7d94",
        "type": "ui_form",
        "z": "fe87260a2a0e6208",
        "name": "",
        "label": "",
        "group": "ade16b1ef95b9168",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Request ",
                "value": "key",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "key": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "bce758247775ed53",
                "a27d35f03ab96164"
            ]
        ]
    },
    {
        "id": "f00e7633ccde2d4d",
        "type": "http request",
        "z": "fe87260a2a0e6208",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://127.0.0.1:1880/api",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "ed954cd86fb0608e",
                "5bfad8282bb756c4"
            ]
        ]
    },
    {
        "id": "bce758247775ed53",
        "type": "debug",
        "z": "fe87260a2a0e6208",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 60,
        "wires": []
    },
    {
        "id": "ed954cd86fb0608e",
        "type": "debug",
        "z": "fe87260a2a0e6208",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "e2523516204da0f3",
        "type": "ui_text",
        "z": "fe87260a2a0e6208",
        "group": "ade16b1ef95b9168",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 110,
        "y": 260,
        "wires": []
    },
    {
        "id": "a27d35f03ab96164",
        "type": "change",
        "z": "fe87260a2a0e6208",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "api.start",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "f00e7633ccde2d4d"
            ]
        ]
    },
    {
        "id": "5bfad8282bb756c4",
        "type": "change",
        "z": "fe87260a2a0e6208",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.api.complete",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload.api.start",
                "pt": "msg",
                "to": "api.start",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "197ee78fd79f0cb2",
                "b2d0dab1d9e65d82"
            ]
        ]
    },
    {
        "id": "197ee78fd79f0cb2",
        "type": "debug",
        "z": "fe87260a2a0e6208",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "b2d0dab1d9e65d82",
        "type": "function",
        "z": "fe87260a2a0e6208",
        "name": "",
        "func": "var request = msg.payload.api.start\nvar received = msg.payload.api.complete\nmsg.payload.api.latency = received - request \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 220,
        "wires": [
            [
                "e2523516204da0f3",
                "092c377f318934b8"
            ]
        ]
    },
    {
        "id": "092c377f318934b8",
        "type": "debug",
        "z": "fe87260a2a0e6208",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 220,
        "wires": []
    },
    {
        "id": "9e9c2b899fe9c55a",
        "type": "http request",
        "z": "bb57a429bedabd77",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://127.0.0.1:1880/publish",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "a30213c27f0166ad"
            ]
        ]
    },
    {
        "id": "d7e11e676ccec14f",
        "type": "ui_form",
        "z": "bb57a429bedabd77",
        "name": "",
        "label": "",
        "group": "16b957b7349f2c6f",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "key",
                "value": "key",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "value",
                "value": "object",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "key": "",
            "object": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "f9755946d49691b9"
            ]
        ]
    },
    {
        "id": "f9755946d49691b9",
        "type": "change",
        "z": "bb57a429bedabd77",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.publish.start",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "9e9c2b899fe9c55a",
                "573fc909be874f38"
            ]
        ]
    },
    {
        "id": "a30213c27f0166ad",
        "type": "debug",
        "z": "bb57a429bedabd77",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "573fc909be874f38",
        "type": "debug",
        "z": "bb57a429bedabd77",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "368216f6b9e3960f",
        "type": "websocket in",
        "z": "91f91a20edc0ca3f",
        "name": "",
        "server": "",
        "client": "b803d1536177ccc3",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "a008d4951a83eddc"
            ]
        ]
    },
    {
        "id": "baf5d10ac6201628",
        "type": "debug",
        "z": "91f91a20edc0ca3f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 220,
        "wires": []
    },
    {
        "id": "a008d4951a83eddc",
        "type": "json",
        "z": "91f91a20edc0ca3f",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "0903c46638f211e7"
            ]
        ]
    },
    {
        "id": "0903c46638f211e7",
        "type": "change",
        "z": "91f91a20edc0ca3f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.ws.received",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "7bc6a8718f3cd290"
            ]
        ]
    },
    {
        "id": "7bc6a8718f3cd290",
        "type": "function",
        "z": "91f91a20edc0ca3f",
        "name": "",
        "func": "var sent = msg.payload.ws.sent\nvar received = msg.payload.ws.received\nmsg.payload.ws.latency = received - sent \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 220,
        "wires": [
            [
                "baf5d10ac6201628"
            ]
        ]
    }
]
