flows.json
[
    {
        "id": "48b4356fe2e4f9db",
        "type": "tab",
        "label": "Event API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4bdffad5d958d50f",
        "type": "tab",
        "label": "Event Publisher",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c9fafa.7dd6a5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "demo.mqtttest.com",
        "port": "8883",
        "tls": "2d748829.2503d8",
        "clientid": "$(CLIENTID)",
        "autoConnect": true,
        "usetls": true,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "demo/security/clientstate/connected",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "$(CLIENTID)",
        "birthMsg": {},
        "closeTopic": "demo/security/clientstate/closed",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "$(CLIENTID)",
        "closeMsg": {},
        "willTopic": "demo/security/clientstate/lastwill",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "$(CLIENTID)",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2d748829.2503d8",
        "type": "tls-config",
        "name": "demo.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo.mqtttest.com",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "cb2f7c9a2ceaaf2c",
        "type": "ui_tab",
        "name": "Latency",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "54f7ecc644f21e27",
        "type": "ui_group",
        "name": "Latency Results",
        "tab": "cb2f7c9a2ceaaf2c",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false
    },
    {
        "id": "a5ecdab7.7197d8",
        "type": "ui_group",
        "name": "Odds Card",
        "tab": "16e47346.ac956d",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "16e47346.ac956d",
        "type": "ui_tab",
        "name": "Real Time Event API",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cbee2f0fcd121e2d",
        "type": "websocket-listener",
        "path": "/ws",
        "wholemsg": "false"
    },
    {
        "id": "7fd7ee0be984bd15",
        "type": "http in",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "url": "/api",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "1ce77331fe4dddfd"
            ]
        ]
    },
    {
        "id": "067a9ae216cf5cb1",
        "type": "http response",
        "z": "48b4356fe2e4f9db",
        "name": "Return Retained message on {sku} topic to API consumer",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "1ce77331fe4dddfd",
        "type": "template",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "demo/{{req.query.key}}",
        "output": "str",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "4e018abe66e05c5c",
                "7c6ec78e3ac4bac7"
            ]
        ]
    },
    {
        "id": "4e018abe66e05c5c",
        "type": "mqtt-in-dynamicsub",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "qos": "2",
        "datatype": "auto",
        "unsubscribe-after-first-msg-recv": false,
        "debug-subscribe": false,
        "broker": "3c9fafa.7dd6a5",
        "x": 530,
        "y": 100,
        "wires": [
            [
                "ad081976cbe775b8"
            ]
        ]
    },
    {
        "id": "ad081976cbe775b8",
        "type": "change",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "63f77552655cb5ea",
        "type": "change",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "flow",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 300,
        "wires": [
            [
                "067a9ae216cf5cb1"
            ]
        ]
    },
    {
        "id": "7c6ec78e3ac4bac7",
        "type": "delay",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 590,
        "y": 220,
        "wires": [
            [
                "63f77552655cb5ea"
            ]
        ]
    },
    {
        "id": "70f06812bfa289ce",
        "type": "websocket out",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "server": "cbee2f0fcd121e2d",
        "client": "",
        "x": 540,
        "y": 560,
        "wires": []
    },
    {
        "id": "e1e7fe4a355b94ee",
        "type": "mqtt in",
        "z": "48b4356fe2e4f9db",
        "name": "",
        "topic": "demo/key1",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 540,
        "wires": [
            [
                "70f06812bfa289ce"
            ]
        ]
    },
    {
        "id": "5d02cd741e6b0fd7",
        "type": "http in",
        "z": "4bdffad5d958d50f",
        "name": "",
        "url": "/post",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "1c812942b8d87c64",
                "18870580aeb45b99"
            ]
        ]
    },
    {
        "id": "643a90a7d82c4fdd",
        "type": "http response",
        "z": "4bdffad5d958d50f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "8a3182a40a08e3e1",
        "type": "mqtt out",
        "z": "4bdffad5d958d50f",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "5eaf02a2a0dae3a4",
        "type": "debug",
        "z": "4bdffad5d958d50f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "1c812942b8d87c64",
        "type": "debug",
        "z": "4bdffad5d958d50f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 160,
        "wires": []
    },
    {
        "id": "18870580aeb45b99",
        "type": "template",
        "z": "4bdffad5d958d50f",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "demo/{{req.query.key}}",
        "output": "str",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "8a3182a40a08e3e1",
                "5eaf02a2a0dae3a4",
                "643a90a7d82c4fdd"
            ]
        ]
    }
]
