flows.json
[
    {
        "id": "7e60f05f61217f17",
        "type": "tab",
        "label": "nats",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c9fafa.7dd6a5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "demo.mqtttest.com",
        "port": "8883",
        "tls": "2d748829.2503d8",
        "clientid": "$(CLIENTID)",
        "autoConnect": true,
        "usetls": true,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "demo/security/clientstate/connected",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "$(CLIENTID)",
        "birthMsg": {},
        "closeTopic": "demo/security/clientstate/closed",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "$(CLIENTID)",
        "closeMsg": {},
        "willTopic": "demo/security/clientstate/lastwill",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "$(CLIENTID)",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2d748829.2503d8",
        "type": "tls-config",
        "name": "demo.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo.mqtttest.com",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "cbee2f0fcd121e2d",
        "type": "websocket-listener",
        "path": "/ws",
        "wholemsg": "false"
    },
    {
        "id": "c0d8752cab84aea3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b803d1536177ccc3",
        "type": "websocket-client",
        "path": "ws://127.0.0.1:1880/ws",
        "tls": "",
        "wholemsg": "false",
        "hb": "30"
    },
    {
        "id": "b9d7a5a759ecc028",
        "type": "mqtt-broker",
        "name": "",
        "broker": "nats.edge-cloud.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a319270fd872e556",
        "type": "mqtt-broker",
        "name": "",
        "broker": "97.107.140.214",
        "port": "8883",
        "tls": "5820695c38c1949d",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c61391b55213e115",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.104.125.99",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5820695c38c1949d",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "nats.edge-cloud.io",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "35234d7f85e97e65",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "bc33345ff7f2c43f",
        "type": "ui_tab",
        "name": "Latency",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7dbf7498dec0c601",
        "type": "ui_group",
        "name": "Comparison ",
        "tab": "bc33345ff7f2c43f",
        "order": 1,
        "disp": true,
        "width": 18,
        "collapse": false
    },
    {
        "id": "722cec5e786df024",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "90751abf4e0ad92f",
        "type": "ui_tab",
        "name": "API Client ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "334dc92abee939a4",
        "type": "ui_group",
        "name": "API Client ",
        "tab": "90751abf4e0ad92f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4032358b6e900f75",
        "type": "ui_group",
        "name": "Worldmap",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "13",
        "collapse": false
    },
    {
        "id": "bb0d607cd4ea3165",
        "type": "natsio-server",
        "name": "nats.connected-cloud.io1",
        "host": "nats.connected-cloud.io",
        "port": "4222",
        "json": true
    },
    {
        "id": "4eba4d681fc2c164",
        "type": "natsio-server",
        "name": "nats.connected-cloud.io2",
        "host": "nats.connected-cloud.io",
        "port": "4222",
        "json": true
    },
    {
        "id": "210a23782eac29c7",
        "type": "natsio-server",
        "name": "nats.connected-cloud.io3",
        "host": "nats.connected-cloud.io",
        "port": "4222",
        "json": true
    },
    {
        "id": "919783a27c4dd988",
        "type": "natsio-server",
        "name": "nats.connected-cloud.io4",
        "host": "nats.connected-cloud.io",
        "port": "4222",
        "json": true
    },
    {
        "id": "d86249eafb4e802e",
        "type": "natsio-server",
        "name": "nats.connected-cloud.io5",
        "host": "nats.connected-cloud.io",
        "port": "4222",
        "json": true
    },
    {
        "id": "ff67fbace7c395fa",
        "type": "natsio-server",
        "name": "nats.connected-cloud.io6",
        "host": "nats.connected-cloud.io",
        "port": "4222",
        "json": true
    },
    {
        "id": "3508c63e091964d3",
        "type": "natsio-server",
        "name": "nats.connected-cloud.io7",
        "host": "nats.connected-cloud.io",
        "port": "4222",
        "json": true
    },
    {
        "id": "4498c1c38124177e",
        "type": "natsio-server",
        "name": "nats.connected-cloud.io8",
        "host": "nats.connected-cloud.io",
        "port": "4222",
        "json": true
    },
    {
        "id": "ec02288197e65f92",
        "type": "natsio-server",
        "name": "nats.connected-cloud.io9",
        "host": "nats.connected-cloud.io",
        "port": "4222",
        "json": true
    },
    {
        "id": "c9f441be3da373d2",
        "type": "natsio-server",
        "name": "nats.connected-cloud.io10",
        "host": "nats.connected-cloud.io",
        "port": "4222",
        "json": true
    },
    {
        "id": "601f881dc3875b2e",
        "type": "natsio-pub",
        "z": "7e60f05f61217f17",
        "server": "bb0d607cd4ea3165",
        "subject": "",
        "message": "",
        "x": 440,
        "y": 220,
        "wires": []
    },
    {
        "id": "7750509a959af8fe",
        "type": "inject",
        "z": "7e60f05f61217f17",
        "name": "",
        "props": [
            {
                "p": "payload.timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": ".1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "test",
        "x": 210,
        "y": 500,
        "wires": [
            [
                "601f881dc3875b2e",
                "e1758615d69a41aa",
                "9c72aec18178eeb5",
                "658c0c65756f6479",
                "e7c8c6841cc7664f",
                "7b98eb503e95fec0",
                "bd21a82a81ae6936",
                "79aefbc9154f5b24",
                "02cc52da5eda6e08",
                "d0ee54091923dfc7"
            ]
        ]
    },
    {
        "id": "e1758615d69a41aa",
        "type": "natsio-pub",
        "z": "7e60f05f61217f17",
        "server": "4eba4d681fc2c164",
        "subject": "",
        "message": "",
        "x": 440,
        "y": 300,
        "wires": []
    },
    {
        "id": "9c72aec18178eeb5",
        "type": "natsio-pub",
        "z": "7e60f05f61217f17",
        "server": "210a23782eac29c7",
        "subject": "",
        "message": "",
        "x": 440,
        "y": 380,
        "wires": []
    },
    {
        "id": "658c0c65756f6479",
        "type": "natsio-pub",
        "z": "7e60f05f61217f17",
        "server": "919783a27c4dd988",
        "subject": "",
        "message": "",
        "x": 440,
        "y": 440,
        "wires": []
    },
    {
        "id": "e7c8c6841cc7664f",
        "type": "natsio-pub",
        "z": "7e60f05f61217f17",
        "server": "d86249eafb4e802e",
        "subject": "",
        "message": "",
        "x": 440,
        "y": 500,
        "wires": []
    },
    {
        "id": "7b98eb503e95fec0",
        "type": "natsio-pub",
        "z": "7e60f05f61217f17",
        "server": "ff67fbace7c395fa",
        "subject": "",
        "message": "",
        "x": 440,
        "y": 560,
        "wires": []
    },
    {
        "id": "bd21a82a81ae6936",
        "type": "natsio-pub",
        "z": "7e60f05f61217f17",
        "server": "3508c63e091964d3",
        "subject": "",
        "message": "",
        "x": 440,
        "y": 620,
        "wires": []
    },
    {
        "id": "79aefbc9154f5b24",
        "type": "natsio-pub",
        "z": "7e60f05f61217f17",
        "server": "4498c1c38124177e",
        "subject": "",
        "message": "",
        "x": 440,
        "y": 680,
        "wires": []
    },
    {
        "id": "02cc52da5eda6e08",
        "type": "natsio-pub",
        "z": "7e60f05f61217f17",
        "server": "ec02288197e65f92",
        "subject": "",
        "message": "",
        "x": 440,
        "y": 720,
        "wires": []
    },
    {
        "id": "d0ee54091923dfc7",
        "type": "natsio-pub",
        "z": "7e60f05f61217f17",
        "server": "c9f441be3da373d2",
        "subject": "",
        "message": "",
        "x": 440,
        "y": 780,
        "wires": []
    },
    {
        "id": "33e3cbb774c02aa5",
        "type": "natsio-sub",
        "z": "7e60f05f61217f17",
        "server": "bb0d607cd4ea3165",
        "subject": ">",
        "maxWanted": "",
        "queue": "",
        "x": 670,
        "y": 300,
        "wires": [
            [
                "99cb85323884ab67"
            ]
        ]
    },
    {
        "id": "7b81f22962c3442b",
        "type": "debug",
        "z": "7e60f05f61217f17",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 380,
        "wires": []
    },
    {
        "id": "99cb85323884ab67",
        "type": "counter",
        "z": "7e60f05f61217f17",
        "name": "",
        "init": "0",
        "step": "1",
        "lower": null,
        "upper": null,
        "mode": "increment",
        "outputs": "1",
        "x": 860,
        "y": 300,
        "wires": [
            [
                "7b81f22962c3442b"
            ]
        ]
    }
]
